<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Airbnb/account</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

</head>

<body>
  <a href="/home">Home</a> 
  <a href="/logout">Log out</a>  

  <h1>Your Property</h1>
  <form action="/removeProperty" method="POST">
    <div align="center">
        {% for property in properties if property.owner == user%}
        <div class="properties">
        <h2> {{property.name}} </h1>
        <h3> Property Type: {{property.propertyType}}</h3>
        <h4> ${{property.price}}</h4>
        <button type="submit" name="button", value={{property._id}}>Remove</button>
        </div>
        {% endfor %}
    </div>
  </form>

  <h1>You rented</h1>
    <div align="center">
        {% for property in properties if property.renter == user%}
        <div class="properties">
        <h2> {{property.name}} </h1>
        <h3> Property Type: {{property.propertyType}}</h3>
        <h3> Owner: {{property.owner}}</h3>
        <h4> ${{property.price}}</h4>
        </div>
        {% endfor %}
    </div>

</body>
</html>