<!DOCTYPE html>
<html>
<head>
    <title>AirbnbLite/home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>>

<body>
    <a href="/account">Account</a>
    <a href="/logout">Log out</a>
    <h1>{{greeting}}</h1>
    <form action="/home" method="post">
        <input type="submit" name="button", value="I want to rent"><br>
        <input type="submit" name="button", value="I want to host">
    </form>>
</body>
</html>